@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300..700&family=Raleway:wght@500&display=swap');
body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3vh;
}
.container{
    background-color: rgb(79, 92, 66);
    padding: 5vh;
    margin: 10vh;
    text-align: center;
    border-radius: 4vh;
    width: 150vh;
    height: auto;
    box-shadow: 2vh 2vh 5vh darkgreen;
}
input{
    padding: 1vh;
    border-radius: 2vh;
    width: 80vh;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 600;
}
.add{
    background-color: rgb(255, 137, 47);
    box-shadow: 1vh 1vh 3vh darkolivegreen;
    color: darkolivegreen;
}
button{
    padding: 1vh;
    border-radius: 1vh;
    margin-left: 2vh;
    border: none;
    background-color: chocolate;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 600;
}
.list{
    list-style-type: none;
    padding: 1vh;
    margin-right: 5vh;
}
#todo-list{
    margin: 0 50vh;
    text-align: right;
    padding: 4vh 10vh;
}